<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
</head>
<body>
<h1>민수야 일좀하자</h1>
<button onclick="redirectToEvoMain()">Go to Evo Main</button>
<button onclick="redirectToAgosMap()">Go to Agos Map</button>
<button onclick="redirectToAgosMap2()">Go to Agos Map2</button>
<button onclick="redirectToAgosMap3()">Go to Agos Map3</button>


<script>
        function redirectToEvoMain() {
            window.location.href = "/main";
        }

        function redirectToAgosMap() {
            window.location.href = "/newAgosMap";
        }

        function redirectToAgosMap2() {
            window.location.href = "/newAgosMap2";
        }

        function redirectToAgosMap3() {
            window.location.href = "/newAgosMap3";
        }
    </script>
</body>
</html>
