<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{/css/ol.css}">
  <title>평가등급 관리</title>
</head>

<body>
<div id="map" class="map"></div>
<div id="popup" style="padding: 10px;background-color: white;"></div>

<script th:src="@{/js/ol/dist/ol.js}"></script>
<script th:src="@{/js/proj4.js}"></script>
<script th:src="@{/js/main.js}"></script>




<button onclick="Zoom(2)">Zoom 2</button>
<button onclick="Zoom(10)">Zoom 10</button>
<button onclick="Zoom(18)">Zoom 18</button>
<button onclick="Rotations(180)">각도변경</button>
<button onclick="Rotations(0)">각도변경</button>
<button onclick="CodebyTime(0)">시간아</button>


<button onclick="End_mapMeasurement()">그리기 멈춰~ </button>
<button onclick="Start_mapMeasurement('Polygon')">그리기모드 다각형</button>
<button onclick="Start_mapMeasurement('LineString')">그리기모드 라인</button>
<button onclick="RemoveAllBlueMarkers()">점 하나 지우기</button>
<button onclick="SetCenter(130.3,36)">센터로와바</button>



</body>
</html>
