<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>OpenLayers</title>

  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../ol/ol.css">
</head>
<body>

<div id="map" class="map"></div>

<script src="../static/js/main.js"></script>


<script src="../ol/dist/ol.js"></script>

<button onclick="zoom(2)">Zoom 2</button>
<button onclick="zoom(10)">Zoom 10</button>
<button onclick="zoom(18)">Zoom 18</button>
<button onclick="Rotations(180)">각도변경</button>
<button onclick="Rotations(0)">각도변경</button>
<button onclick="CodebyTime(0)">시간아</button>
<button onclick="PopUpViewLayer"><POP>232</POP></button>


</body>
</html>